li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    /* max-width: 1800px; */
}

.wrapper {
    overflow: hidden;
}

.header {
    display: block;
}



.header__row {
    display: flex;
    justify-content: space-between;
}
.header__js
.page__header {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.menu-main {
    background-color: #86DC01;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}  
.header__menu-main {
text-align: center;
}



.menu-main__wrapper {
    display: flex;
    max-width: 1344px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 70px;
}

.menu-main__list {
    display: flex;
    align-items: center;
}


.menu-main__item {
    margin-right: 15px;
    font-size: 16px;
    position: relative;
    margin-right: -1px;
}



.menu-main__link {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-direction: normal;
    list-style-type: none;
    box-sizing: inherit;
    margin: 0;
    touch-action: manipulation;
    background-color: transparent;
    transition: all 0.2s;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    font: 400 16px/16px "Open Sans",Arial,Helvetica;
    text-decoration: none;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    color: #FFF;
    border-right-color: transparent;
}

.menu-main__text {
    color: #FFF;
}

.menu-main__list-sub{
   display: none;
   position: absolute;
   z-index: 4;
   top: 110%;
   left: 0;
   display: none;
   width: 232px;
   border-top: 0 solid transparent;
   background-color: #fff;
   -webkit-box-shadow: 0 0 16px rgb(0 0 0 / 10%);
   box-shadow: 0 0 16px rgb(0 0 0 / 10%);
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.content {
    border-bottom: 1px solid #000;

}

.сontent__items {
    padding: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.content__item {
    width: 25%;
    margin: 15px 15px;
    justify-content: center;
    
}

.content__text{
    margin-bottom: 20px;
    font-size: 16px;
    font:bold;
}

.content__button {
    padding: 15px 15px;
    background-color: #86DC01;
    border: 1px solid #000;
    border-radius: 30%;
    font-size: 16px;
    cursor: pointer;
}

/* .content__image {
    max-height: 100%;
    max-width: 50px;
} */

.content__image img {
    max-width: 100%;
    max-height: 100%;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    max-height: 200px;
    align-items: center;
    margin: 15px 15px;
} 


.menu-footer__list{
    display: flex;
    flex-wrap: wrap;
    margin:0 15px;


}

.menu-footer__item {
    margin-right: 30px;
}

.menu-footer__item:last-child {
   
}

.social-block {
  
}  

.social-block__list {
    font: 400 14px/24px "Open Sans",Arial,Helvetica;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-box-direction: normal;
    color: #333;
    word-wrap: break-word;
    box-sizing: inherit;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    -webkit-box-pack: start;
}



.social-block__item {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border-radius: 50px;
}

.social-block__item--vk {
    background-color: #4a76a8;
    position: relative;
  
}

.social-block__item--fb {
    background-color: #4167b2;
      position: relative;
}

.social-block__item--instagram {
    background: #f09433;
    background: linear-gradient(45deg,#f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    position: relative;
}

.social-block__icon {
    color: #fff;
    height: 16px;
    width: 16px;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
}

.visually-hidden {
   text-align: center;
}

.payments-block__list  {
    display: flex;
}

.payments-block__item {
    margin-right: 15px;
}

.payments-block__item:last-child {
    margin: 0;
}